body {
  background-color: #f1f3fa;
}
.App-header {
  margin: 1px 0;
}

.img-fluid {
  padding-top: 10px;
  display: block;
  margin: auto;
  max-width: 1405px;
  width: 633px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 25px 20px -20px;
}
footer {
  margin: 30px 0;
  color: gray;
  position: relative;
  bottom: -242px;
}
a {
  color: gray;
  text-decoration: none;
}
