.search {
  text-align: center;
}
input {
  font-family: "Fredoka", sans-serif;

  margin: 0;
  padding: 3px;
  box-sizing: border-box;
  font-size: 22px;
}
.wrapper {
  min-height: 12vh;
  display: flex;
  justify-content: center;
  align-content: center;
}
.search-box {
  background: white;
  position: relative;
  padding: 5px;
  margin: 0;
  bottom: -2px;
  width: 514px;
  border-radius: 50px;
  display: flex;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.search-box button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #efdcf2;
  align-items: center;
  color: #5969ca;
  border: none;
  margin-right: 15px;
  cursor: pointer;
}
.search-box .input-search {
  outline: none;
  border: 0;
  background: #efdcf2;
  color: #5969ca;
  padding: 15px 22px;
  width: 461px;
  height: 50px;
  border-radius: 50px;
}

::placeholder {
  color: #5969ca;
}
button {
  font-size: 19px;
  font-weight: bolder;
}

.search {
  margin: auto;
  display: block;
  position: relative;
  top: 10px;
  max-width: 640px;
  width: 700px;
}

.photo {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  font-family: "Fredoka", sans-serif;
  max-width: 1400px;
  margin: -60px;
  position: relative;
  bottom: -183px;
  padding-bottom: 20px;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 6%) 0px 1px 2px 0px;
}
