.search {
  text-align: center;
}
input {
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  margin: 0;
  padding: 3px;
  box-sizing: border-box;
  font-size: 22px;
}
.wrapper {
  min-height: 12vh;
  display: flex;
  justify-content: center;
  align-content: center;
}
.search-box {
  background: #5969ca;
  position: relative;
  padding: 7px;
  border-radius: 50px;
  display: flex;
}
.search-box button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #efdcf2;
  align-items: center;
  color: #5969ca;
  border: none;
  margin-right: 15px;
  cursor: pointer;
}
.search-box .input-search {
  outline: none;
  border: 0;
  background: #efdcf2;
  color: #5969ca;
  padding: 15px 22px;
  width: 300px;
  height: 50px;
  border-radius: 50px;
}

::placeholder {
  color: #5969ca;
}
button {
  font-size: 19px;
  font-weight: bolder;
}

.search {
  margin: auto;
  display: block;
  position: relative;
  top: -9px;
  max-width: 640px;
  width: 700px;
}
